<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Serve React Static Files -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".map" mimeType="application/octet-stream" />
    </staticContent>

    <!-- Set Node.js as the app's runtime -->
    <handlers>
      <add name="node" path="*" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <!-- Logging for debugging -->
    <iisnode loggingEnabled="true" />
    
    <!-- Rewrite rules for React -->
    <rewrite>
      <rules>
        <!-- Serve React's 'index.html' for all non-file and non-directory requests -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/frontend/build/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
